:root {
        --ic-brand-primary-darkened-5: #004C97;
--ic-brand-primary-darkened-10: #00488F;
--ic-brand-primary-darkened-15: #004487;
--ic-brand-primary-lightened-5: #0C58A2;
--ic-brand-primary-lightened-10: #1961A7;
--ic-brand-primary-lightened-15: #266AAC;
--ic-brand-button--primary-bgd-darkened-5: #004C97;
--ic-brand-button--primary-bgd-darkened-15: #004487;
--ic-brand-button--secondary-bgd-darkened-5: #26333D;
--ic-brand-button--secondary-bgd-darkened-15: #222E37;
--ic-brand-font-color-dark-lightened-15: #47535C;
--ic-brand-font-color-dark-lightened-28: #636D75;
--ic-link-color-darkened-10: #00488F;
--ic-link-color-lightened-10: #1961A7;
--ic-brand-primary: #00509E;
--ic-brand-font-color-dark: #273540;
--ic-link-color: #00509E;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #273540;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #00509E;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #ffffff;
--ic-brand-header-image: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_279700000000000001/attachments/640/NTNU1.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_279700000000000001/attachments/641/ntnu_hoeyde_eng.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_279700000000000001/attachments/204149/Canvas_Bug_Blue_RGB.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_279700000000000001/attachments/643/NTNU1.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_279700000000000001/attachments/644/NTNU1.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_279700000000000001/attachments/645/NTNU1.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_279700000000000001/attachments/646/ntnu_hoeyde_eng.png');
--ic-brand-Login-body-bgd-color: #00509E;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #273540;
--ic-brand-Login-logo: url('https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_279700000000000001/attachments/647/ntnu_hoeyde_eng.png');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: #ffffff;
--ic-brand-Login-Content-label-text-color: #00509E;
--ic-brand-Login-Content-password-text-color: #00509E;
--ic-brand-Login-footer-link-color: #00509E;
--ic-brand-Login-footer-link-color-hover: #00509E;
--ic-brand-Login-instructure-logo: #00509E;
      }